<div class="flex z-101 top-0 left-0 gap-x-4 w-full absolute px-4 py-2">
  <div>
    <div class="mb-4 text-white" style="mix-blend-mode: exclusion;">
      <p class="text-lg">Explainable Facial Recognition</p>
      <p class="text-sm max-w-lg text-neutral-400 hidden-md:lg:block">
        AI-Powered Video Analysis: Live processing of your video for real-time object detection and
        feature extraction.
      </p>
    </div>
  </div>
</div>

<div class="flex z-101 bottom-0 left-0 gap-x-4 text-white w-full absolute px-4 py-2">
  <div>
    <div class="flex items-center justify-start">
      <p class="text-md text-green-600">⬤</p>
      <p
        class="text-sm font-semibold ml-2 cursor-pointer hover:scale-105 duration-100"
        title="Cannot connect to the backend.">
        Connected
      </p>
      <!-- <p class="text-md text-red-600">⬤</p>
      <p
        class="text-md font-semibold ml-2 cursor-pointer hover:scale-105 duration-100"
        title="Cannot connect to the backend.">
        Disconnected
      </p> -->
    </div>
  </div>
</div>
